# Database Configuration
POSTGRES_DB=your-db-name
POSTGRES_USER=your-username
POSTGRES_PASSWORD=your-password
POSTGRES_HOST=your-host
POSTGRES_PORT=5432

# Django Configuration
DJANGO_SECRET_KEY=your-secretkey
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Django Superuser
DJANGO_SUPERUSER_USERNAME=your-admin-username
DJANGO_SUPERUSER_EMAIL=your-admin-email
DJANGO_SUPERUSER_PASSWORD=your-admin-password

# Port Configuration
FRONTEND_PORT=5173
BACKEND_PORT=8000
DATABASE_PORT=5432

# Environment
ENVIRONMENT=development