@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
	--navbar-height: 60px;
	--scrollbar-width: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color4);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--accent5);
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-corner {
	visibility: hidden;
}

.custom-datepicker-wrapper {
	height: 100%;
	flex-shrink: 1 !important;
}

.custom-datepicker {
	background-color: var(--color2);
	border: 1px solid var(--color5);
	color: var(--color12);
	text-align: center;
	height: 100%;
	cursor: pointer;
	outline: none;
	user-select: none;
	text-transform: capitalize;
	width: 100% !important;
}

.react-datepicker {
	min-width: 100% !important;
	border: none !important;
	border-radius: 0 !important;
	display: flex;
}

.react-datepicker-popper {
	min-width: 100% !important;
	border: 1px solid var(--color5) !important;
}

.react-datepicker__year,
.react-datepicker__month {
	min-width: 100% !important;
	background-color: var(--color2) !important;
	margin: 0 !important;
}

.react-datepicker__day.react-datepicker__day--selected,
.react-datepicker__month-text--selected,
.react-datepicker__year-text--selected {
	background-color: var(--accent5) !important;
	color: var(--color12) !important;
}

.react-datepicker__month-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
	color: var(--color12) !important;
	background-color: var(--color2) !important;
}

.react-datepicker__year-wrapper {
	min-width: 100% !important;
	display: grid !important;
	grid-template-columns: 1fr 1fr !important;
}

.react-datepicker__month.react-datepicker__monthPicker {
	min-width: 100% !important;
	display: grid !important;
	grid-template-columns: 1fr !important;
}

.react-datepicker__month-wrapper {
	min-width: 100% !important;
	display: flex !important;
}

.react-datepicker__year-text,
.react-datepicker__month-text {
	color: var(--color12) !important;
	width: 100% !important;
	text-transform: capitalize !important;
	padding: 5px 0 !important;
	margin: 0 !important;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__day-names,
.react-datepicker__current-month {
	background-color: var(--color2) !important;
	color: var(--color12) !important;
}

.react-datepicker__input-time-container {
	min-width: 100% !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.react-datepicker__input-time-container,
.react-datepicker-time__input {
	background-color: var(--color2) !important;
	color: var(--color12) !important;
	margin: 0 !important;
	padding: 5px 0 !important;
	border: 0 !important;
}

input.react-datepicker-time__input {
	border: 1px solid var(--color5) !important;
	border-radius: 5.5px !important;
	padding: 5px 8px !important;
}

.react-datepicker-time__caption {
	padding: 0 8px !important;
}

.react-datepicker__day:hover,
.react-datepicker__year-text:hover,
.react-datepicker__month-text:hover {
	background-color: var(--accent4) !important;
	color: var(--color12) !important;
}

.react-datepicker__month-container {
	min-width: 100% !important;
}

.react-datepicker__input-container {
	width: 100% !important;
	height: 100% !important;
	flex-shrink: 1 !important;
}

.react-datepicker__header {
	background-color: var(--color2) !important;
	color: var(--color12) !important;
	border-bottom: 2px solid var(--accent5) !important;
	border-radius: 0 !important;
}

.react-datepicker__header.react-datepicker__header--custom {
	display: none !important;
}

.entryCard:hover {
	cursor: pointer;
	filter: brightness(80%) !important;
	transition: filter 250ms ease !important;
}

.entryCard:focus {
	box-shadow: 0 2px 2px var(--color5);
}

.entryCard {
	transition: filter 250ms ease !important;
}
